#cancelBtn {
    background-color: var(--important-color);
    color: var(--button-bg-hover);
}

#cancelBtn:hover {
    background-color: var(--button-bg-hover);
    color: var(--important-color);
}

#updateBtn.save {
    background-color: darkgreen;
    color: var(--button-bg-hover);
}

#updateBtn.save:hover {
    background-color: var(--button-bg-hover);
    color: darkgreen;
}